                    <a class="dd-link" href="/analise/repeticao-concursos/">
                        <span class="dd-icon" style="background:#e8f5e9;color:#2e7d32;">
                            <i class="fas fa-clone"></i>
                        </span>
                        <span class="dd-text-block">
                            <span class="dd-title">{{ nav_cfg.repeticao.title }}</span>
                            <span class="dd-desc">{{ nav_cfg.repeticao.desc }}</span>
                        </span>
                    </a>
