<div class="visually-hidden" aria-hidden="true">
    <div id="loaderAnalise" style="display:none"></div>
    <div id="painelAnalise" style="display:none">
        <span id="lblParConcursos"></span>
        <a id="linkCompararVisual" href="/analise/comparar-concursos/"></a>
        <div id="bolasPenultimo"></div>
        <div id="bolasUltimo"></div>
        <div id="resumoRep"></div>
        <div id="resumoPadroes"></div>
        <div id="resumoExtra"></div>
        <table><tbody id="tbodyDezenas"></tbody></table>
    </div>
</div>
